data_folder     /data/100x1000x1000/
trade_output_folder     /data/team-7/
network_config_file     /home/team-7/yzh/awsome-10w/network.host
sliding_window_size     100
stock_num       10
trader_num      2
exchange_num    2
loader_nx_matrix        500
loader_ny_matrix        1000
loader_nz_matrix        1000